.container {
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  background-color: #181926;
}

.tabItem {
  letter-spacing: 0.1rem;
  background-color: #363a4f;
  border-bottom: solid 1px #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: #8aadf4;
}

.pending {
  color: #7dc4e4;
}
