#root {
  padding: 0;
}

.container {
	padding: 0;
}

.bottomNav {
  background-color: #ccd0da;
  position: fixed;
  overflow: hidden;
	width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


