.tasksContainer {
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  height: 75vh;
}

.button {
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.6rem;
  background-color: #6e738d;
  color: #cad3f5 !important;
  letter-spacing: 0.1rem;
  border: 0;
  margin-top: 0.5rem;
}
